.form_ag {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 780px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: justify;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.descricao{
    resize: none;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.input_ag {
    resize: none;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button_ag {
    background: #f2f2f2;
    transition: all 0.3 ease;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding:10px;
    width: 100%;
    margin-left: 1%;
}
.form_ag button:hover,.form_ag button:active,.form_ag button:focus {
    background: #f2f2f294;
}
.label_ag {
    max-width: 60px;
    cursor:pointer
}
.ag_container {
    padding-top: 100px;
}
.ag_group{ 
    margin: 20px; 
    position:relative; 
}

@media ( max-width: 48em) {
    .form_ag {
        margin:0 auto;
        width: 284px;
    }
    .input_ag {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .button_ag {
        background: #f2f2f2;
        transition: all 0.3 ease;
        cursor: pointer;
        border: 0;
        text-transform: uppercase;
        outline: 0;
        padding:10px;
        width: 100%;
        margin-left: 1%;
    }
    .form_ag button:hover,.form_ag button:active,.form_ag button:focus {
        background: #f2f2f294;
    }
    .label_ag {
        text-align: left;
        cursor:pointer
    }
    .ag_container {
        padding-top: 70px;
        padding-right: 5%;
    }
    .ag_group{ 
        margin: 20px; 
        position:relative; 
    }
}