
.visu_container{
    padding-top: 70px;
    
}
.user{
    max-width: 1000px;
    padding: 20px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    padding-top: 10px;
}
.visu_input{
    resize: none;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.visu_button {
    background: #f2f2f2;
    transition: all 0.3 ease;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    outline: 0;
    padding:10px;
    width: 100%;
    margin-left: 1%;
}
.visu_box{
    list-style: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 1250px;
    margin: 0 auto 100px;
    padding-top: 70px;
    padding: 45px;
    text-align: justify;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.visu_buttonExcluir{
    background: #f2f2f2;
    transition: all 0.3 ease;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding-right:10px;
    margin-left: 1%;
}